.header {
    font-size: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  .cipher-key-box {
    resize: none;
    overflow: hidden;
    width: 300px;
  }

  .unciphered-box textarea,
.ciphered-box textarea {
  width: 50%; 
  height: 150px;     
  font-size: 16px;   
  box-sizing: border-box;
  resize: none;  
}
