:root {
  --fontfam: 'Poppins';
  --themecolor: hsl(110, 21%, 35%);
  --textcolor: white;
}

.header {
  font-size: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontfam);
}

.top-container{
  margin: 20px;
  padding: 10px;
}
.translation-button {
  margin-top: 20px;
}

.cipher-key {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  margin-top: 1rem;
  justify-content: center;
  font-family: var(--fontfam);
}

.cipher-key-box {
  resize: none;
  overflow: hidden;
  width: 300px;
}

.letter-box input {
  width: 30px;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
}

.unciphered-box textarea,
.ciphered-box textarea, 
.decrypt-input-box textarea, 
.decrypt-output-box textarea{
  width: 100%; 
  height: 150px;     
  font-size: 16px;   
  box-sizing: border-box;
  resize: none;  
  font-family: var(--fontfam);
}

.middle-container, .decryption-container, 
.top-container, .cipher-key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin: 0 auto; 
  text-align: center;
  font-family: var(--fontfam);
}

.divider {
  margin: 30px;
}

.translation-button {
  margin: 30px;
  font-size: 30px;
  padding: 2%;
}

